body {
  background: #eee;
  font-family: "Roboto", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
  font-size: 14px;
  height: 100%;
}

/* Login page css */

.login {
  background: #292929;
  padding: 0;
  height: 100vh;
}
.login #signin-container {
  margin: 0 auto;
  width: 280px;
}
.login .l-logo {
  text-align: center;
  width: 100%;
  margin-bottom: 20px;
}
.rangerlogo {
  margin-top: 120px;
}
.icon-sign-in {
  margin-left: 15px;
  visibility: hidden;
  font-size: 20px;
  margin-top: 3px;
  position: relative;
  right: 80px;
}
.login form .btn,
.login input {
  font-size: 14px;
}
.login input,
.login form {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.login form {
  margin: 0;
  width: 100%;
}
.login form .btn {
  line-height: 26px;
  margin-top: 15px;
  font-weight: bold;
}
.login .fields {
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.15);

  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;

  border-right: 1px solid #595959;
  border-bottom: 1px solid #595959;
  border-left: 1px solid #2f2f2f;
  border-top: 1px solid #2f2f2f;
}
.login a.forgot-password {
  background: rgba(0, 0, 0, 0.05);
  color: #888;
  display: block;
  float: right;
  font-size: 11px;
  height: 22px;
  line-height: 22px;
  margin: -32px 10px 0 0;
  padding: 0 6px;
  position: relative;
  z-index: 10;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.login input {
  background: #ffffff;
  border: solid #dedede;
  border-width: 0 0 1px 0;
  height: 30px;
  padding: 0 10px;
  width: 100%;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.login label {
  color: #adacac;
  font-size: 14px;
  font-weight: bold;
}
.login input:focus {
  border-color: #dedede;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
