body {
  background: #eee;
  font-family: "Roboto", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
  font-size: 14px;
}
a {
  color: #0b7fad;
}
.app-body {
  padding: 45px 15px 0 15px;
}

.table-th-checkbox {
  margin-left: 25px;
}

/* Header Css */
.ranger-navbar {
  background-color: none;
  background-image: linear-gradient(167deg, #333e47, #023259);
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  width: 100%;
  padding-top: 0px;
  padding-bottom: 0px;
}
.ranger-navbar .logo img {
  width: 120px;
}
.ranger-navbar .navbar-nav > a {
  color: #fff !important;
  display: block;
  line-height: 22px;
  font-size: 15px;
  font-weight: 600;
  text-decoration: none;
  text-shadow: rgb(0 0 0 / 20%) 0px -1px 0;
  height: auto;
  padding: 9px 15px;
}
.ranger-navbar .dropdown-toggle {
  color: #fff !important;
  display: block;
  line-height: 22px;
  font-size: 15px;
  font-weight: 600;
  text-decoration: none;
  text-shadow: rgb(0 0 0 / 20%) 0px -1px 0;
  height: auto;
  padding: 9px 15px;
}
.login-id > i {
  margin-right: 5px;
}
.ranger-navbar .dropdown-item {
  font-size: 13px;
}
.ranger-navbar .dropdown-item:hover,
.ranger-navbar .dropdown-item:focus {
  color: #fff;
  text-decoration: none;
  background-color: #0b7fad;
}
.zone-icon {
  font-size: 11px;
  margin-right: 1px;
  vertical-align: top;
}

/* Page Container */
section#r_content {
  min-height: 80vh !important;
}

/* Page Loader */
.loading-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
div#center div {
  position: relative;
  display: inline-block;
  animation: janimation 2.2s infinite;
  -webkit-animation: janimation 2.2s infinite;
}
div#center span {
  position: relative;
  font-family: Helvetica;
  font-size: 20px;
  font-weight: bolder;
  color: #0b7fad;
}
div#center div.letter_container_1 {
  animation-delay: 0s;
  -webkit-animation-delay: 0s;
}
div#center div.letter_container_2 {
  animation-delay: 0.2s;
  -webkit-animation-delay: 0.2s;
}
div#center div.letter_container_3 {
  animation-delay: 0.4s;
  -webkit-animation-delay: 0.4s;
}
div#center div.letter_container_4 {
  animation-delay: 0.6s;
  -webkit-animation-delay: 0.6s;
}
div#center div.letter_container_5 {
  animation-delay: 0.8s;
  -webkit-animation-delay: 0.8s;
}
div#center div.letter_container_6 {
  animation-delay: 1s;
  -webkit-animation-delay: 1s;
}
div#center div.letter_container_7 {
  animation-delay: 1.2s;
  -webkit-animation-delay: 1.2s;
}
@keyframes janimation {
  0% {
    transform: rotate(0deg) scale(1.5);
    color: #aaa;
  }
  10% {
    transform: rotate(0deg) scale(1.7);
    color: #ccc;
  }
  100% {
    transform: rotate(0deg) scale(1.2);
    color: #333;
    text-shadow: #666 0 0 10px;
  }
}
@-webkit-keyframes janimation {
  0% {
    -webkit-transform: rotate(0deg) scale(1.5);
    color: #aaa;
  }
  10% {
    -webkit-transform: rotate(0deg) scale(1.7);
    color: #ccc;
  }
  100% {
    -webkit-transform: rotate(0deg) scale(1.2);
    color: #333;
    text-shadow: #666 0 0 10px;
  }
}

/* Footer Css */
.main-footer {
  margin-top: 0;
  padding-top: 0;
  border-top: 1px solid #e3e3e3;
  color: #999;
  font-size: 13px;
  text-align: center;
}
.main-footer a {
  color: #999;
  text-decoration: underline;
}
.copy-right-text p {
  margin: 0 0 5px;
  line-height: 15px;
}
.form-actions {
  padding: 19px 20px 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border-top: 1px solid #e5e5e5;
}
.form-actions button:nth-child(n) {
  margin-left: 10px;
}
.form-actions button:first-child {
  margin-left: 0;
}
.wrap {
  display: block;
  background-color: #fff;
  border: 1px solid #d6d6d6;
  margin: 0 0 20px 0;
  padding: 20px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  *zoom: 1;
}
.wrap:before,
.wrap:after {
  display: table;
  content: "";
  line-height: 0;
}
.wrap:after {
  clear: both;
}
.wrap-header {
  color: #222222;
  font-size: 16px;
  font-weight: 300;
  line-height: 20px;
  margin: 3px 0 0 0px;
  padding-bottom: 10px;
  text-transform: none;
}
.bold {
  font-weight: bold;
}
.user-profile {
  border: 1px solid #ddd;
  padding: 20px;
  margin-top: 15px;
  -webkit-box-shadow: 1px 1px 0 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 1px 0 0 rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 0 0 rgba(0, 0, 0, 0.2);
  background-color: #fff;
}

/* Service Manager */
.select-zone-name {
  cursor: not-allowed;
}
.btn-primary {
  background-color: #0b7fad;
  background-image: none;
  color: #fff;
  border-color: #0b7fad;
}
.policy-manager table thead tr th:first-child {
  background-color: #d8d8d8;
}
.position-relative .table th {
  border: 1px solid #dee2e6;
  border-bottom: transparent;
  font-size: 13px;
}
.position-relative .table th,
.table td {
  padding: 8px;
  font-size: 13px;
}
.policy-manager .policy-title {
  font-size: 18px;
  line-height: 20px;
  text-transform: uppercase;
  color: #707070;
}
.position-relative table thead tr th:first-child a {
  color: #707070;
}
.position-relative .table-striped tbody tr:nth-of-type(odd) {
  background-color: #f9f9f9;
}
.m-r-5 {
  margin-right: 5px;
}
.service-name {
  max-width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: sub;
  display: inline-block;
}
.service-name,
.service-name:hover {
  text-decoration: none;
}

.css-b62m3t-container {
  width: 700px;
}

/* cancel and Export Button */
.btn-secondary {
  padding: 0.25rem 0.5rem;
  font-size: 13px;
  text-decoration: none;
  line-height: 1.5;
  border: 1px solid #d9d9d9;
  background-color: white;
  color: #424242;
}
.btn-primary {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.2rem;
}

.btn-primary:hover {
  color: #0b7fad;
  background-color: white;
  border-color: #0b7fad;
}
.btn-secondary:hover {
  color: #0b7fad;
  background-color: white;
  border-color: #0b7fad;
}

.servicename {
  font-size: 13px;
  font-weight: bolder;
  color: black;
}

.externalbadge {
  background-color: #9bb922;
  color: white;
}
.hiddenbadge {
  background-color: #9bb922;
  color: white;
}

/* Permissions */
.permissions {
  font-size: 13px !important;
  line-height: 1.5;
  border-radius: 0.2rem;
}
.permissionbtn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  border: 1px solid #d9d9d9;
  color: #424242;
  background-image: none;
  background-color: white;
  margin-left: 4rem;
}

.permissionbtn:hover {
  color: #0b7fad !important;
  border-color: #0b7fad !important;
  background-color: #fff !important;
  outline: none !important;
}
a:focus,
a:hover,
a.active,
a:active {
  color: #2996ba;
}
a {
  color: #212529;
}
.usersbadge {
  margin: 2px;
}
.headerperm {
  text-align-last: center;
  font-size: 13px;
}

.More {
  color: #0b7fad;
}
.Less {
  color: #0b7fad;
}

/*Security Zone*/
input,
textarea {
  flex: 1;
  padding: 3px 5px;
  font-size: 1em;

  border: 1px solid #ccc;
  border-radius: 3px;
}
.zonename {
  vertical-align: top;
  color: #333;
  width: 110px;
  min-width: 60px;
  font-size: 14px;
  line-height: 32px;
  text-align: right;
  margin-left: -12px;
}
.lblusergroups {
  vertical-align: top;
  color: #333;
  font-size: 14px;
  line-height: 32px;
  text-align: right;
  margin-left: -26px;
}
.lblaudusergroups {
  vertical-align: top;
  color: #333;
  font-size: 14px;
  line-height: 32px;
  text-align: right;
  margin-left: -26px;
}
.lbltag {
  vertical-align: top;
  color: #333;
  font-size: 14px;
  line-height: 32px;
  text-align: right;
  margin-left: -26px;
}
.lblresource {
  vertical-align: top;
  color: #333;
  font-size: 14px;
  line-height: 32px;
  text-align: right;
  margin-left: -69px;
}
.txtaudusersgroups {
  width: 381px;
  margin-left: 127px;
  margin-top: -40px;
}
.txtusersgroups {
  width: 381px;
  margin-left: 127px;
  margin-top: -40px;
}
.zonenameinput {
  width: 30%;
  height: calc(1.5em + 0.75rem + 2px);
  font-weight: 400;
  line-height: 1.5;
  background-color: #e9ecef;
  opacity: 1;
  border: 1px solid #ccc;
  color: #495057;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.zonedescription {
  vertical-align: top;
  color: #333;
  margin-left: -6px;
  font-size: 14px;
  line-height: 32px;
  text-align: right;
}
.zonedescinput {
  width: 23.5rem;
  height: min-content;
}

form {
  max-width: 1300px;
  margin: 10px auto;
  border: 1px solid #ccc;
  padding: 20px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  position: relative;
  background-color: white;
}
.zonedetails {
  margin-left: 187px;
}
hr.zoneheader {
  border-top: 1px solid #0b7fad;
  margin-top: 4px;
}
header {
  font-size: 15px;
  font-weight: bold;
  line-height: 26px;
  color: #333;
}
.savebtn {
  margin-left: 298px;
}
.cancelbtn {
  margin-left: 11px;
}
.zoneusers {
  vertical-align: top;
  color: #333;
  width: 110px;
  min-width: 60px;
  font-size: 14px;
  line-height: 32px;
  text-align: right;
}

.zoneadmin {
  width: 381px;
  margin-left: 127px;
  margin-top: -40px;
}

.zoneservices {
  width: 598px;
  margin-left: 127px;
  margin-top: -40px;
}

.error {
  font-size: 13px;
  display: flex;
  color: black;
  flex-flow: row nowrap;
  margin-left: 126px;
}

.adminusergroups {
  vertical-align: top;
  color: #333;
  width: 110px;
  min-width: 60px;
  font-size: 14px;
  line-height: 32px;
  text-align: right;
}
.css-xb97g8:hover {
  background-color: black;
}
#btnplus {
  background-color: white;
  border: 1px solid #d9d9d9;
  padding: 4px 8px;
  font-size: 11.05px;
}

#btnplus:hover {
  border: 1px solid #0b7fad;
  color: #0b7fad;
}

/*Pagination Button */

.pagebtn {
  width: auto !important;
  min-width: 30px;
  max-width: 44px;
  border: 1px solid #ddd;
  color: #777777;
  border-radius: 3px !important;
  height: 30px;
}

.pagebtns {
  margin-left: 25px;
}

.inputpagebtn {
  width: 43px;
  margin: 3px 3px;
}

.pageno {
  margin-top: 7px;
  margin-left: 412px;
}

.selectpage {
  height: 28px;
  margin-top: 3px;
  margin-left: 413px;
}

#Pagination {
  display: inline;
}
.pagelbl {
  margin-left: 328px;
}

/*EditPermissionaddusergroup*/
.editpermselect {
  width: 200px;
  margin: 0;
  padding: 0;
  display: inline-block;
  margin-left: 121px;
}

#zonedetailsform {
  margin-left: 166px;
}

.selected-widget {
  padding: 3px 5px 3px 4px;
  border-radius: 3px;
  border: 1px solid #aaaaaa;
  background-color: #e4e4e4;
  margin: 3px 3px;
  float: left;
}

.emptySelectedusers {
  color: #dd1144;
}

.emptySelectedgroups {
  color: #dd1144;
}
