body {
  background: #eee;
  font-family: "Roboto", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
  font-size: 14px;
}

a {
  color: #0b7fad;
}

.app-body {
  padding: 45px 15px 0 15px;
}

/* Header Css */
.ranger-navbar {
  background-color: none;
  background-image: linear-gradient(167deg, #333e47, #023259);
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  width: 100%;
  padding-top: 0px;
  padding-bottom: 0px;
}

.ranger-navbar .logo img {
  width: 120px;
}

.ranger-navbar .navbar-nav > a {
  color: #fff !important;
  display: block;
  line-height: 22px;
  font-size: 15px;
  font-weight: 600;
  text-decoration: none;
  text-shadow: rgb(0 0 0 / 20%) 0px -1px 0;
  height: auto;
  padding: 9px 15px;
}

.zone-icon {
  font-size: 11px;
  margin-right: 1px;
  vertical-align: top;
}

/* Page Container */
section#r_content {
  min-height: 80vh !important;
}

/* Page Loader */
.loading-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

div#center div {
  position: relative;
  display: inline-block;
  animation: janimation 2.2s infinite;
  -webkit-animation: janimation 2.2s infinite;
}

div#center span {
  position: relative;
  font-family: Helvetica;
  font-size: 20px;
  font-weight: bolder;
  color: #0b7fad;
}

div#center div.letter_container_1 {
  animation-delay: 0s;
  -webkit-animation-delay: 0s;
}

div#center div.letter_container_2 {
  animation-delay: 0.2s;
  -webkit-animation-delay: 0.2s;
}

div#center div.letter_container_3 {
  animation-delay: 0.4s;
  -webkit-animation-delay: 0.4s;
}

div#center div.letter_container_4 {
  animation-delay: 0.6s;
  -webkit-animation-delay: 0.6s;
}

div#center div.letter_container_5 {
  animation-delay: 0.8s;
  -webkit-animation-delay: 0.8s;
}

div#center div.letter_container_6 {
  animation-delay: 1s;
  -webkit-animation-delay: 1s;
}

div#center div.letter_container_7 {
  animation-delay: 1.2s;
  -webkit-animation-delay: 1.2s;
}

@keyframes janimation {
  0% {
    transform: rotate(0deg) scale(1.5);
    color: #aaa;
  }
  10% {
    transform: rotate(0deg) scale(1.7);
    color: #ccc;
  }
  100% {
    transform: rotate(0deg) scale(1.2);
    color: #333;
    text-shadow: #666 0 0 10px;
  }
}

@-webkit-keyframes janimation {
  0% {
    -webkit-transform: rotate(0deg) scale(1.5);
    color: #aaa;
  }
  10% {
    -webkit-transform: rotate(0deg) scale(1.7);
    color: #ccc;
  }
  100% {
    -webkit-transform: rotate(0deg) scale(1.2);
    color: #333;
    text-shadow: #666 0 0 10px;
  }
}

/* Footer Css */
.main-footer {
  margin-top: 0;
  padding-top: 0;
  border-top: 1px solid #e3e3e3;
  color: #999;
  font-size: 13px;
  text-align: center;
}

.main-footer a {
  color: #999;
  text-decoration: underline;
}

.copy-right-text p {
  margin: 0 0 5px;
  line-height: 15px;
}

.form-actions {
  padding: 19px 20px 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border-top: 1px solid #e5e5e5;
}

.form-actions button:nth-child(n) {
  margin-left: 10px;
}

.form-actions button:first-child {
  margin-left: 0;
}

.wrap {
  display: block;
  background-color: #fff;
  border: 1px solid #d6d6d6;
  margin: 0 0 20px 0;
  padding: 20px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  *zoom: 1;
}

.wrap:before,
.wrap:after {
  display: table;
  content: "";
  line-height: 0;
}

.wrap:after {
  clear: both;
}

.wrap-header {
  color: #222222;
  font-size: 16px;
  font-weight: 300;
  line-height: 20px;
  margin: 3px 0 0 0px;
  padding-bottom: 10px;
  text-transform: none;
}

.bold {
  font-weight: bold;
}

.tab-content.user-profile-tab-content {
  border: 1px solid #ddd;
  padding: 20px;
  margin-top: 15px;
  -webkit-box-shadow: 1px 1px 0 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 1px 0 0 rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 0 0 rgba(0, 0, 0, 0.2);
  background-color: #fff;
}
