body {
  background: #eee;
  font-family: "Roboto", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
  font-size: 14px;
}

a {
  color: #0b7fad;
}

a:focus,
a:hover,
a.active,
a:active {
  color: #2996ba;
}

.app-body {
  padding: 45px 15px 0 15px;
}

/* Header */
.ranger-navbar {
  background-color: none;
  background-image: linear-gradient(167deg, #333e47, #023259);
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  width: 100%;
  padding-top: 0px;
  padding-bottom: 0px;
}

.ranger-navbar .logo img {
  width: 120px;
}

.ranger-navbar .navbar-nav>a {
  color: #fff !important;
  display: block;
  line-height: 22px;
  font-size: 15px;
  font-weight: 600;
  text-decoration: none;
  text-shadow: rgb(0 0 0 / 20%) 0px -1px 0;
  height: auto;
  padding: 9px 15px;
}

.ranger-navbar .dropdown-toggle {
  color: #fff !important;
  display: block;
  line-height: 22px;
  font-size: 15px;
  font-weight: 600;
  text-decoration: none;
  text-shadow: rgb(0 0 0 / 20%) 0px -1px 0;
  height: auto;
  padding: 9px 15px;
}

.login-id>i {
  margin-right: 5px;
}

.ranger-navbar .dropdown-item {
  font-size: 13px;
}

.ranger-navbar .dropdown-item:hover,
.ranger-navbar .dropdown-item:focus {
  color: #fff;
  text-decoration: none;
  background-color: #0b7fad;
}

.zone-icon {
  font-size: 11px;
  margin-right: 1px;
  vertical-align: top;
}

/* Page Container */
section#r_content {
  min-height: 80vh !important;
}

/* Page Loader */
.loading-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

div#center div {
  position: relative;
  display: inline-block;
  animation: janimation 2.2s infinite;
  -webkit-animation: janimation 2.2s infinite;
}

div#center span {
  position: relative;
  font-family: Helvetica;
  font-size: 20px;
  font-weight: bolder;
  color: #0b7fad;
}

div#center div.letter_container_1 {
  animation-delay: 0s;
  -webkit-animation-delay: 0s;
}

div#center div.letter_container_2 {
  animation-delay: 0.2s;
  -webkit-animation-delay: 0.2s;
}

div#center div.letter_container_3 {
  animation-delay: 0.4s;
  -webkit-animation-delay: 0.4s;
}

div#center div.letter_container_4 {
  animation-delay: 0.6s;
  -webkit-animation-delay: 0.6s;
}

div#center div.letter_container_5 {
  animation-delay: 0.8s;
  -webkit-animation-delay: 0.8s;
}

div#center div.letter_container_6 {
  animation-delay: 1s;
  -webkit-animation-delay: 1s;
}

div#center div.letter_container_7 {
  animation-delay: 1.2s;
  -webkit-animation-delay: 1.2s;
}

@keyframes janimation {
  0% {
    transform: rotate(0deg) scale(1.5);
    color: #aaa;
  }

  10% {
    transform: rotate(0deg) scale(1.7);
    color: #ccc;
  }

  100% {
    transform: rotate(0deg) scale(1.2);
    color: #333;
    text-shadow: #666 0 0 10px;
  }
}

@-webkit-keyframes janimation {
  0% {
    -webkit-transform: rotate(0deg) scale(1.5);
    color: #aaa;
  }

  10% {
    -webkit-transform: rotate(0deg) scale(1.7);
    color: #ccc;
  }

  100% {
    -webkit-transform: rotate(0deg) scale(1.2);
    color: #333;
    text-shadow: #666 0 0 10px;
  }
}

/* Footer */
.main-footer {
  margin-top: 0;
  padding-top: 0;
  border-top: 1px solid #e3e3e3;
  color: #999;
  font-size: 13px;
  text-align: center;
}

.main-footer a {
  color: #999;
  text-decoration: underline;
}

.copy-right-text p {
  margin: 0 0 5px;
  line-height: 15px;
}

.form-actions {
  padding: 19px 20px 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border-top: 1px solid #e5e5e5;
}

.form-actions button:nth-child(n) {
  margin-left: 10px;
}

.form-actions button:first-child {
  margin-left: 0;
}

.wrap {
  display: block;
  background-color: #fff;
  border: 1px solid #d6d6d6;
  margin: 0 0 20px 0;
  padding: 20px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  *zoom: 1;
}

.wrap:before,
.wrap:after {
  display: table;
  content: "";
  line-height: 0;
}

.wrap:after {
  clear: both;
}

.wrap-header {
  color: #222222;
  font-size: 16px;
  font-weight: 300;
  line-height: 20px;
  margin: 3px 0 0 0px;
  padding-bottom: 10px;
  text-transform: none;
}

.bold {
  font-weight: bold;
}

.user-profile {
  border: 1px solid #ddd;
  padding: 20px;
  margin-top: 15px;
  -webkit-box-shadow: 1px 1px 0 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 1px 0 0 rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 0 0 rgba(0, 0, 0, 0.2);
  background-color: #fff;
}

/* Editable */
.editable {
  display: inline-block;
  min-width: 30px;
  border-color: #0b7fad;
  border-bottom-style: dashed;
  cursor: pointer;
}

.editable-popover {
  min-width: 150px;
}

.table-editable .editable~div {
  z-index: 1060;
}

/* Service Manager */
.select-zone-name {
  cursor: not-allowed;
}

.btn-primary {
  background-color: #0b7fad;
  background-image: none;
  color: #fff;
  border-color: #0b7fad;
}

.policy-manager table thead tr th:first-child {
  background-color: #d8d8d8;
}

table.no-bg-color thead tr th:first-child {
  background-color: transparent;
}

.position-relative .table th {
  border: 1px solid #dee2e6;
  border-bottom: transparent;
  font-size: 13px;
}

.position-relative .table th,
.table td {
  padding: 8px;
  font-size: 13px;
}

.policy-manager .policy-title {
  font-size: 18px;
  line-height: 20px;
  text-transform: uppercase;
  color: #707070;
}

.position-relative table thead tr th:first-child a {
  color: #707070;
}

.position-relative .table-striped tbody tr:nth-of-type(odd) {
  background-color: #f9f9f9;
}

.m-r-5 {
  margin-right: 5px;
}

.service-name {
  max-width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: sub;
  display: inline-block;
}

.service-name,
.service-name:hover {
  text-decoration: none;
}

.form-header {
  padding: 2px 4px;
  font-size: 15px;
  font-weight: bold;
  line-height: 26px;
  color: #333;
  white-space: nowrap;
  border-bottom: 1px solid #0b7fad;
}

.table-read-only thead {
  background-color: #eeeeee;
}

.external-badge {
  background-color: #9bb922;
  color: white;
}

.hidden-badge {
  background-color: #9bb922;
  color: white;
}

/* XA Table */
.table-responsive>.table>thead>tr>th,
.table-responsive>.table>tbody>tr>th,
.table-responsive>.table>tfoot>tr>th,
.table-responsive>.table>thead>tr>td,
.table-responsive>.table>tbody>tr>td,
.table-responsive>.table>tfoot>tr>td {
  white-space: nowrap;
}

.table-responsive .table thead th {
  font-size: 13px;
  padding: 8px;
  border-bottom: 1px solid #dee2e6;
}

.bt-1 {
  border-top: 1px solid #ddd;
}

.resource-text {
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 250px;
  flex: 1;
  padding-right: 12px;
}

/* Edit Permission */
.show-more-less {
  color: #0b7fad;
  font-size: 12px;
  cursor: pointer;
}

.show-more-less:hover {
  text-decoration: underline;
}

.zoneheader {
  border-top: 1px solid #0b7fad;
  margin-top: 4px;
}

header {
  font-size: 15px;
  font-weight: bold;
  line-height: 26px;
  color: #333;
}

.edit-perm-select {
  width: 200px;
  margin: 0;
  padding: 0;
  display: inline-block;
  margin-left: 121px;
}

.selected-widget {
  padding: 3px 5px 3px 4px;
  border-radius: 3px;
  border: 1px solid #aaaaaa;
  background-color: #e4e4e4;
  margin: 3px 3px;
  float: left;
}

.formHeader {
  padding: 2px 4px;
  font-size: 15px;
  font-weight: bold;
  line-height: 26px;
  color: #333;
  white-space: nowrap;
  border-bottom: 1px solid #0b7fad;
}

.invalid-field {
  color: #dc3545;
  font-size: 12px;
}

.info-icon {
  color: #808080;
}

/* Security Zone Service Table Resources */
.resource-group {
  display: block;
  padding: 5px;
  background-color: #f4f4f4;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: left;
  max-width: 100%;
  margin: 5px 2px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: initial;
}

.resource-filter {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 8px;
}

.zone-listing {
  list-style: none;
  padding: 0;
  margin: 20px 0 0;
}

.zone-listing li {
  cursor: pointer;
  padding: 5px;
}

.zone-listing li a {
  color: #adadad;
  text-decoration: none;
}

.zone-listing li+li {
  border-top: 1px #adadad dashed;
}

.zone-listing li a:hover,
.zone-listing li a.selected {
  color: #0B7FAD;
  font-weight: bold;
}

.trim-containt {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 95%;
}

/*Audit page Admin tab */
.link-tag {
  display: inline-block;
  background-color: transparent;
  text-decoration: none;
  padding: 0.1em 0.8em;
  border: 1px solid #c0d4db;
  border-radius: 15px;
  margin-top: 4px;
  color: #0b7fad;
}

.resource-grp {
  display: block;
  padding: 5px;
  background-color: #f4f4f4;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: left;
  max-width: 100%;
  margin: 5px 2px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: initial;
}

.zone-resource {
  border: 1px #e4b75c solid;
  padding: 4px 12px;
  border-radius: 5px;
  color: #966b0c;
  margin-bottom: 10px;
}

/*Admin table logs modal User Update delete text*/
.delete-text {
  border: 1px solid #f7cccc;
  background-color: #f7e4e4;
  color: #b85355;
}

.add-text {
  background-color: #e1f2d3;
  border: 1px solid #cbe7c5;
  color: #5c8847;
}

.legend {
  height: 10px;
  width: 10px;
  display: inline-block;
  margin-right: 3px;
}

.old-value-bg {
  background-color: #ffefe4;
  vertical-align: middle !important;
}

/*Encryption Key Manager */
.button-disabled {
  opacity: 0.65;
  cursor: not-allowed;
}

.text-muted {
  opacity: 0.7;
}

/* Users / Groups / Roles CSS */
.row-inactive {
  background-color: #f5f5f5;
}

.row-inactive .badge-warning,
.row-inactive .badge-success,
.row-inactive .badge-info {
  color: #fff;
  background-color: #6c757d;
}

.row-inactive a {
  color: #ccc !important;
}

.disabled-link {
  pointer-events: none;
}

/* Audit Filters */
.table-audit-filter thead,
.table-audit-filter-ready-only thead {
  background-color: #eeeeee;
}

.table-audit-filter th,
.table-audit-filter-ready-only th {
  padding: 7px 5px;
  text-align: center;
}

.table-audit-filter td:first-child {
  width: 100px;
}

.table-audit-filter td:last-child {
  width: 40px;
}

.form-control.audit-filter-select {
  font-size: 12px;
}

.connection-error {
  font-family: monospace;
}

.spinner-border-sm,
.spinner-grow-sm {
  width: 1rem !important;
  height: 1rem !important;
}

.spinner-border,
.spinner-grow {
  width: 3rem;
  height: 3rem;
}

.text-color-red {
  color: #b85355;
}

.new-error-page {
  height: calc(100vh - 200px);
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 6%;
}

.new-error-box {
  display: table;
  max-width: 40%;
  min-width: 450px;
}

.error-white-bg {
  background-color: white;
}

.new-icon-box,
.new-description-box {
  display: table-cell;
  vertical-align: middle;
  padding: 20px;
  color: #888;
}

.new-icon-box {
  width: 60px;
  text-align: center;
  border-right: 1px solid #ddd;
}

.active-policy-alert {
  color: #ec7337;
  margin-right: 5px;
}

/* Policy Listing Page */
.policy-listing table thead {
  text-align: center;
}

.policy-listing table tr td:first-child,
.policy-listing table tr td:last-child {
  text-align: center;
}

.item:not(:last-of-type)::after {
  content: ", ";
}

.column-list {
  list-style-type: none;
  padding: 5px 0px 0px 20px;
  border-bottom: solid 1px lightgray;
  cursor: pointer;
}

.popover-span {
  font-style: italic;
  max-height: 200px;
  overflow-y: auto;
}

.updateInfo {
  margin-top: 10px;
  border-top: 1px solid #ccc;
}

.updateInfo p {
  margin-bottom: 0px;
  margin-top: 0px;
  font-size: 11px;
}

.policy-version {
  font-size: 23px;
  padding: 5px 0 0 3px;
}

.policy-version span {
  padding: 0 10px;
  color: black;
  font-size: 14px;
  position: relative;
  top: -3px;
}

.policy-version i {
  color: #0b7fad !important;
  opacity: 0.4;
}

.policy-version i.active {
  color: #0b7fad !important;
  cursor: pointer;
  opacity: 1;
}